/* This file is for your main application CSS */
@import "./phoenix.css";

body {
  background-image: url('/images/soccer.jpeg');
  background-size: cover;
  padding: 2.5rem;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: rgba(116, 184, 199, 0.8);
  text-align: center;
}

thead {
  height: 2.5rem;
  border-radius: 1rem;
  background-color: rgb(116, 184, 199);
  font-size: 1.75rem;
  line-height: 1.75rem;
}

tbody {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

tr {
  height: 2.5rem;
}

input {
  margin-left: 1rem;
  text-align: center;
}

.team-name {
  width: 12rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}

.team-input {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-played {
  margin: 1rem;
  padding: 1.5rem 1rem 0 1rem;
  border-radius: 0.5rem;
  background-color: rgb(209, 246, 222);
}

.match-pending {
  margin: 1rem;
  padding: 1.5rem 1rem 0 1rem;
  border-radius: 0.5rem;
}

.rounds {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

.round {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  border-width: 2px;
  background-color: rgb(243 244 246 / 0.95);
  padding: 2rem;
}

.highlight-row {
  background-color: rgba(164, 229, 242, 0.8);
}
/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
